a {
  text-decoration: none;
  color: #553A59;
  font-size: 16px;
  transition: 0.5s;
}

a:hover {
  font-size: 18px;
}

.parent {
  display: flex;
  justify-content: space-between; /* Равномерное распределение с равными интервалами */
  align-items: center; /* Выравнивание элементов по вертикали */
  width: 60%; /* Ширина родительского блока */
  line-height: 1.3;
  font-family: 'Preahvihear', sans-serif;
  margin: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%; /* Распределение на всю ширину родительского блока */
  justify-content: space-between; /* Для обеспечения равномерного расстояния между элементами */
}

.list li {
  flex: 1; /* Равное распределение доступного пространства между элементами */
  margin: 0 50px; /* Добавление небольших отступов между элементами */
}

.page {
  display: flex;
  background-color: #E7DCC8;
  height: 100px;
}

