* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page{
  background: linear-gradient(to right, #E8B57C,#B85359);;
}

li {
  list-style-type: none;
}

:root {
  --purple: hsl(240, 80%, 89%);
  --pink: hsl(0, 59%, 94%);
  --light-bg: hsl(204, 37%, 92%);
  --light-gray-bg: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 7%);
  --text-gray: hsl(0, 0%, 30%);
}

body {
  background: var(--light-bg);
  font-family: "Space Grotesk", sans-serif;
  color: var(--dark);
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: var(--text-gray);
}

.description {
  white-space: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  margin: 0;
  padding: 12px;
  background: #E7DCC8;
  border-radius: 20px;
  width: 300px;
  height: 450px;
  transition: 0.5s width, 0.5s height;
}

.box:hover{
  width: 310px;
  height: 460px;
}

.box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 12px;
}

.box-image {
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 100%;
  transition: 0.5s border-radius, 0.5s width;
}

.box-image:hover {
  border-radius: 10%;
  width: 280px;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  margin: auto;
  font-family: 'Preahvihear', sans-serif;
  color: #553A59
}

.user-follow-info {
  color: hsl(0, 0%, 60%);
}

.button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 14px;
  border-color: #553A59;
  color: #553A59;
  font-family: 'Preahvihear', sans-serif;
  background: var(--purple);
  transition: 0.35s background-color;
}

.button:hover {
  background: #553A59;
  color: white;
}

.fill-one {
  background: var(--light-bg);
}

.fill-two {
  background: var(--pink);
}

.text{
  text-align: center;
  font-family: 'Preahvihear', sans-serif;
  color: #553A59;
}
/* RESPONSIVE QUERIES */
@media (max-width: 319px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }

  .box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    font-size: 12px;
    margin: 0;
    padding: 18px;
    background: #E7DCC8;
    border-radius: 20px;
    width: 260px;
    height: 450px;
    transition: 0.5s width, 0.5s height;
  }
  
  .box:hover{
    width: 270px;
    height: 480px;
  }

  .button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 18px;
    border-color: #553A59;
    color: #553A59;
    font-family: 'Preahvihear', sans-serif;
    font-size: 10px;
    background: var(--purple);
    transition: 0.35s background-color;
    max-height: 10px;
  }
  
}

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
  
}

@media (max-width: 459px) {
    .box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    margin: 0;
    padding: 12px;
    background: #E7DCC8;
    border-radius: 20px;
    width: 260px;
    height: 450px;
    transition: 0.5s width, 0.5s height;
  }
  
  .box:hover{
    width: 270px;
    height: 480px;
  }
  
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}